body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav,
footer {
  background-color: #1f2937;
}
nav,
header {
  display: flex;
  justify-content: space-between;
}

/* Style - Navigation */
nav a {
  color: #fff;
  text-decoration: none;
}
nav li {
  list-style: none;
}

nav ul {
  display: flex;
  padding: 0;
  gap: 16px;
  margin-right: 16px;
  margin-left: 16px;
}
/* Style - HEADER */


/* Style - MAIN */

main {
  flex: 1; /* Footer nach unten */
}

/* Quote */
blockquote:before {
  content: "\201E";
}
blockquote:after {
  content: "\201D";
}
blockquote {
  margin-bottom: 12px;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote {
  align-items: flex-end;
  background-color: #E5E7EB;
  padding: 48px 96px;
}
.quote footer {
  justify-content: flex-end;
  padding-right: 48px;
  background-color: #E5E7EB;
  color: #1f2937;
  font-weight: 600;
}

/* Style Footer */

footer {
  display: flex;
  justify-content: center;
  color: #fff;
}
