body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

nav,
header,
footer {
  background-color: #1f2937;
}
nav,
header {
  display: flex;
  justify-content: space-between;
}

/* Style - Navigation */
nav {
  position: sticky;
  top:0;
}

nav a {
  color: #fff;
  text-decoration: none;
}
nav li {
  list-style: none;
}

nav ul {
  display: flex;
  padding: 0;
  gap: 16px;
  margin-right: 16px;
  margin-left: 16px;
}
/* Style - HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 16px;
  margin-bottom: 32px;
}

.header-cont-left {
  padding: 16px;
}

.header-cont-right {
  height: 200px;
  width: 400px;
  padding: 16px;
   text-align: center;
   display: flex;
  background-color: gray;
  }

h1{
  font-size: 48px;
  font-weight: 700px;
  color: #f9faf8;
}
header p{
  font-size: 18px;
  color: #e5e7eb;
  align-self: center;


}
header .btn-signup{
  border:  none;
}

/* Style - MAIN */

main {
  flex: 1; /* Footer nach unten */
}

/* Section - Articles */
.rand-info {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 36px;
  margin-bottom: 48px;
}
.info h2 {
  text-align: center;
}
.info h5 {
  text-align: center;
  font-weight: 500;
  margin-bottom: 0;
}

.art-info {
  display: flex;
  flex-direction: column;
}
.art-placeholder {
  border: 3px solid #3882f6;
  border-radius: 10%;
  height: 120px;
  width: 120px;
}
.art-subtext {
  word-wrap: break-word;
  width: 120px;
  margin-top: 10px;
}

/* Quote */
blockquote:before {
  content: "\201E";
}
blockquote:after {
  content: "\201D";
}
blockquote {
  margin-bottom: 12px;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.quote {
  align-items: flex-end;
  background-color: #e5e7eb;
  padding: 48px 96px;
}
.quote footer {
  justify-content: flex-end;
  padding-right: 48px;
  background-color: #e5e7eb;
  color: #1f2937;
  font-weight: 600;
}

/* Main SignUp*/
.signup {
  margin: 48px 96px;
  background-color: #3882f6;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.signup h3 {
  margin-bottom: 4px;
}
.signup p {
  margin-top: 0;
  font-size: 14px;
}

.divbtn {
  display: flex;
  align-items: center;
}
.btn-signup {
  background-color: #3882f6;
  border: 1px solid white;
  padding: 8px 24px;
  border-radius: 10px;
  color: #fff;
}

/* Style Footer */

footer {
  display: flex;
  justify-content: center;
  color: #fff;
}
